.detalle-container {
	background-color: #f1f1f1; /* gris clarito */
}

.detalle-img {
	width: 80%;
	border-radius: 8px;
	object-fit: contain;
}

.detalle-titulo {
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.detalle-precio {
	color: #309a6c; 
	font-size: 1.6rem;
}

.detalle-descripcion {
	color: #555;
	margin-top: 0.5rem;
}

.detalle-stock {
	color: #555;
	font-weight: bold;
}

.masmenos {
	width: 40px;
}
.masmenos:hover {
	background-color: rgb(13, 14, 13);
	cursor: pointer;
}

.cont {
	margin-bottom: 2rem;
}

.txtCant {
	margin: 0;
	margin-right: .5rem;
}